.header{
  //position: fixed;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: transparent;
}
.header--active {
  background: linear-gradient(rgba(0, 0, 0, 0.7), 
  rgba(0, 0, 0, 0.7));
}
.appTitle {
  font-size: 28px;
  color: white;
  font-weight: 550;
  margin: 10px 0;
}
.hamburger {
  z-index: 9999;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0;
  &__box {
    height: 34px;
    width: 25px;
    position: relative;
    display: inline-block;
  }
}
.hamburger__inner {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  transition: background-color .1s .2s ease-in-out;
}
.hamburger__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  top: 10px;
  height: 3px;
  transition: transform .2s .2s ease-in-out;
}
.hamburger__inner::before {
  content: '';
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  top: -10px;
  height: 3px;
  transition: transform .2s .2s ease-in-out;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg);
}
.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg);
}
