.weatherContainer {
  //display: grid;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}
.weather--active {
  display: grid;
}
.currentDate {
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  font-size: 25px;
  padding: 15px 0px 0px 15px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.currentDate span {
  display: inline-block;
  font-size: 1.2em;
}

.today {
  grid-column: 3/-1;
  grid-row: 1/2;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  text-align: center;
  &__city {
    font-size: 1.1em;
    width: inherit;
    letter-spacing: 2px;
    margin-top: 30px;
  }
  &__temperature {
    font-size: 2.5em;
    width: inherit;
  }
  &__description {
    font-size: 1.3em;
    width: inherit;
  }
}
.temperature__unit {
  font-size: 0.8em;  
}
.today span {
  display: inline-block;
}
.tomorrow {
 grid-row: 3/-1;
 grid-column: 1/2;
}
.thirdDay {
 grid-row: 3/-1;
 grid-column: 2/3;
}
.fourthDay {
  grid-row: 3/-1;
  grid-column: 3/-1;
}

.tomorrow::after,
.thirdDay::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background-color: rgba(228, 228, 228, 0.3) ;
}

.flexy {
  position: relative;
  padding: 10px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 24px;
 
  
}
.flexy > * {
  flex: 1 1 100%; 
}

.day__icon {
  font-size: 1em;
}
.day__temperature {
  font-size: 1.7em;
}
.day__name {
  font-size: 1.3em;
}


//komórki
@media (min-width: 320px) and (max-width: 480px) {
  .weatherContainer {
    grid-template-columns: 0;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-row-gap: 5%;
  }
  .currentDate {
    display: none;
  }
  .flexy {
    margin: 0;
  
    border-top: 1px solid rgba(255, 255, 255, 0.315);
    border-width: 60%;
  }
  .tomorrow {
    grid-row: 2/3;
    width: 100vw;
   }
   .thirdDay {
    grid-row: 3/4;
   }
   .fourthDay {
     grid-row: 4/-1;
   }
  .today {
    grid-row: 1/2;
    &__city {
      font-size: 1em;
      width: inherit;
      letter-spacing: 2px;
      margin-top: 0;
    }
    &__temperature {
      font-size: 2em;
      width: inherit;
    }
    &__description {
      font-size: 1.1em;
      width: inherit;
    }
  }
  .day__icon {
    font-size: 1em;
  }
  .day__temperature {
    font-size: 1.8em;
  }
  .day__name {
    font-size: 1.4em;
  }
  .tomorrow::after,
  .thirdDay::after {
  display: none;
}
.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
//małe komórki
@media (min-height: 550px) and (max-height: 670px) {
  .weatherContainer {
    grid-template-columns: 0;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-row-gap: 0;
  }
  .today {
    grid-row: 1/2;
    &__city {
      font-size: .8em;
      width: inherit;
      letter-spacing: 2px;
      margin-top: 0;
    }
    &__temperature {
      font-size: 1.3em;
      width: inherit;
    }
    &__description {
      font-size: .9em;
      width: inherit;
    }
  }
  .day__icon {
    font-size: .7em;
  }
  .day__temperature {
    font-size: .8em;
  }
  .day__name {
    font-size: .8em;
  }
} }