html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: 'Alegreya', serif;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://cdn.dribbble.com/users/13449/screenshots/1828176/attachments/304147/Lakeside_Sunset_1920x1080.jpg");
  background-size: cover; }

@media (min-width: 320px) and (max-width: 480px) {
  body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("https://i.pinimg.com/564x/27/6d/d5/276dd5b62fc9958b836a692570a8df8c.jpg");
    background-size: cover; } }

.header {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: transparent; }

.header--active {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); }

.appTitle {
  font-size: 28px;
  color: white;
  font-weight: 550;
  margin: 10px 0; }

.hamburger {
  z-index: 9999;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: 0;
  margin: 0; }
  .hamburger__box {
    height: 34px;
    width: 25px;
    position: relative;
    display: inline-block; }

.hamburger__inner {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 3px;
  transition: background-color .1s .2s ease-in-out; }

.hamburger__inner::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: white;
  left: 0;
  top: 10px;
  height: 3px;
  transition: transform .2s .2s ease-in-out; }

.hamburger__inner::before {
  content: '';
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  top: -10px;
  height: 3px;
  transition: transform .2s .2s ease-in-out; }

.hamburger--active .hamburger__inner {
  background-color: transparent; }

.hamburger--active .hamburger__inner::before {
  transform: translateY(10px) rotate(45deg); }

.hamburger--active .hamburger__inner::after {
  transform: translateY(-10px) rotate(-45deg); }

.city--active {
  display: block !important; }

.city {
  display: none;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  font-size: 25px;
  z-index: 10; }

.city__header {
  font-size: 1.5em;
  color: white;
  font-weight: 400;
  margin: 10px; }

.city__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.form__input {
  color: white;
  margin: 15px;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8); }

.form__button {
  background: transparent;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: white;
  font-size: 1em;
  font-weight: 550;
  width: 40%; }

::placeholder {
  color: white;
  font-size: .9em; }

.city--active .city__form {
  animation: formAnimation .4s; }

.city--active .city__header {
  animation: fadeIn .4s .5s backwards; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes formAnimation {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  80% {
    opacity: .7;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.weatherContainer {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%; }

.currentDate {
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 1/2;
  color: white;
  font-size: 25px;
  padding: 15px 0px 0px 15px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; }

.currentDate span {
  display: inline-block;
  font-size: 1.2em; }

.today {
  grid-column: 3/-1;
  grid-row: 1/2;
  color: white;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  text-align: center; }
  .today__city {
    font-size: 1.1em;
    width: inherit;
    letter-spacing: 2px;
    margin-top: 30px; }
  .today__temperature {
    font-size: 2.5em;
    width: inherit; }
  .today__description {
    font-size: 1.3em;
    width: inherit; }

.temperature__unit {
  font-size: 0.8em; }

.today span {
  display: inline-block; }

.tomorrow {
  grid-row: 3/-1;
  grid-column: 1/2; }

.thirdDay {
  grid-row: 3/-1;
  grid-column: 2/3; }

.fourthDay {
  grid-row: 3/-1;
  grid-column: 3/-1; }

.tomorrow::after,
.thirdDay::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background-color: rgba(228, 228, 228, 0.3); }

.flexy {
  position: relative;
  padding: 10px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  font-size: 24px; }

.flexy > * {
  flex: 1 1 100%; }

.day__icon {
  font-size: 1em; }

.day__temperature {
  font-size: 1.7em; }

.day__name {
  font-size: 1.3em; }

@media (min-width: 320px) and (max-width: 480px) {
  .weatherContainer {
    grid-template-columns: 0;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-row-gap: 5%; }
  .currentDate {
    display: none; }
  .flexy {
    margin: 0; }
  .tomorrow {
    grid-row: 2/3;
    width: 100vw; }
  .thirdDay {
    grid-row: 3/4; }
  .fourthDay {
    grid-row: 4/-1; }
  .today {
    grid-row: 1/2; }
    .today__city {
      font-size: 1em;
      width: inherit;
      letter-spacing: 2px;
      margin-top: 0; }
    .today__temperature {
      font-size: 2em;
      width: inherit; }
    .today__description {
      font-size: 1.1em;
      width: inherit; }
  .day__icon {
    font-size: .8em; }
  .day__temperature {
    font-size: 1em; }
  .day__name {
    font-size: .9em; }
  .tomorrow::after,
  .thirdDay::after {
    display: none; }
  .center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%); } }

@media (min-width: 320px) and (max-width: 480px) and (min-height: 550px) and (max-height: 670px) {
  .weatherContainer {
    grid-template-columns: 0;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-row-gap: 0; }
  .today {
    grid-row: 1/2; }
    .today__city {
      font-size: .8em;
      width: inherit;
      letter-spacing: 2px;
      margin-top: 0; }
    .today__temperature {
      font-size: 1.3em;
      width: inherit; }
    .today__description {
      font-size: .9em;
      width: inherit; }
  .day__icon {
    font-size: .7em; }
  .day__temperature {
    font-size: .8em; }
  .day__name {
    font-size: .8em; } }
